<!DOCTYPE html>
<html>
<head>
  <title>Polina Kuznetsova</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "//code.jquery.com/jquery-3.2.1.min.js" %>
  <%= javascript_include_tag "jquery.fancybox.min.js" %>
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css", :media => "all" %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
</head>
<body>

<!-- NAVBARRRRRR -->
<!-- NAVBAR -->
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
       <a class="navbar-brand" href="#">POLINA ZINZIVER</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">WORKS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CONTACT</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right social">
          <li class="nav-item"><a href="#" class="nav-link"><%= fa_icon "instagram", class: "fa-lg"%></a></li>
          <li class="nav-item"><a href="#" class="nav-link"><%= fa_icon "behance", class: "fa-lg"%></a></li>
          <li class="nav-item"><a href="#" class="nav-link"><%= fa_icon "vk", class: "fa-lg"%></a></li>
          <li class="nav-item"><a href="#" class="nav-link"><%= fa_icon "facebook", class: "fa-lg"%></a></li>
          <li class="nav-item"><a href="#" class="nav-link"><%= fa_icon "tumblr", class: "fa-lg"%></a></li>
          <li class="nav-item"><a href="#" class="nav-link"><%= fa_icon "vimeo", class: "fa-lg"%></a></li>
        </ul>
      </div>
    </nav>
<!-- <nav class="navbar navbar-default">
  <div class="container">
    <!- Brand and toggle get grouped for better mobile display -->
    <!-- <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="/">
        <p>Polina Kuznetsova</p>
        </a>
    </div> -->

    <!-- Collect the nav links, forms, and other content for toggling -->
<!--     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav menu">
        <li><a href="#">works</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right social">
        <li>
          <a href=""><%= image_tag "social/vimeo.png", size: "30"%></a>
        </li>
        <li>
          <a href=""><%= image_tag "social/facebook.png", size: "30"%></a>
        </li>
        <li>
          <a href=""><%= image_tag "social/instagram.png", size: "30"%></a>
        </li>
        <li>
          <a href=""><%= image_tag "social/behance.png", size: "30"%></a>
        </li>
        
      </ul>
    </div><! /.navbar-collapse -->
  <!-- </div>/.container-fluid -->
<!-- </nav> -->
<%= yield %>
</body>
</html>
